.header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.nameContainer {
  margin-right: 40px;
}

.name {
  font-size: 18px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}
